settings_local.py
*.pyc
*.swp
tmp*
GoogleSafe*
Check*
captchastuff
media/uploads

OpenSSL
django-csp
django-ratelimit

captcha_play.py
orig_captcha.py
orig_recaptcha_indent.js

old_accesscontrol.html
template_demo.html
template_intro.html
gradient_blue*

