{% extends "msw/base.html" %}

{% block rightPanelText %}
    <h2>Access Control</h2>
    
    <section id="table-of-contents">
        <!--<a href="#intro-part-category">Category</a>-->
        <a href="#intro-part-summary" class="special">Summary</a>
        <a href="#intro-part-details">Details</a>
        <a href="#intro-part-diagram">Diagram</a>
        <a href="#intro-part-doit">Do it</a>
        <a href="#intro-part-preview">Preview</a>
        <a href="#intro-part-resources">Resources</a>
        <a href="/msw/{{ slug }}/demo" class="special">Go to Demo!</a>
    </section><!--table-of-contents-->

    <section class="sec-chunk">
        <div id="intro-part-category" class="sec-title">
            Category
        </div>
        <section class="textchunk">
            Access Control
        </section>
    </section><!-- sec-chunk -->

    <section class="sec-chunk">
        <div id="intro-part-summary" class="sec-title">
            Summary
        </div>
        <section class="textchunk">
            Monitor user activities on three layers, separating Presentation (what users see), Business (what users do), and Data (what users act upon).
        </section>
    </section><!-- sec-chunk -->

    <section class="sec-chunk">
        <div id="intro-part-details" class="sec-title">
            Details
        </div>
        <section class="textchunk">
            To fully restrict users from entering in potentially malicious data, web developers should monitor user data on three layers.
            <ol>
                <li>The Presentation Layer: make sure that the user have limitations on what can be put on the  client-side of the webpage (HTML/JavaScript).</li>

                <li>The Business Layer: once the user input data is transferred to the server side, double check again that inputting the data is within the privileges of that user. Attackers would often use data-tampering tools, such as [TamperData] and [Burp], to bypass the Presentation Layer restrictions. So server side data validation is crucial.</li>

                <li>The Data Layer: make sure that the data is safe (parameterized) before inserting into the SQL database, since sometimes attackers craft malicious SQL injections.</li>
            </ol>
        </section>
    </section><!-- sec-chunk -->

    <section class="sec-chunk">
        <div id="intro-part-diagram" class="sec-title">
            Diagram
        </div>
        <section class="textchunk">
            <a href="{{ MEDIA_URL }}img/diagrams/access_control.png" 
            target="_blank"> 
            <img class="diag"
            src="{{ MEDIA_URL }}img/diagrams/access_control.png" 
            alt="access control diagram" /></a>
        </section>
    </section><!-- sec-chunk -->

    <section class="sec-chunk">
        <div id="intro-part-doit" class="sec-title">
            Do It Yourself
        </div>
        <section class="textchunk">
            There is no specific way of separating the three layers. The hardest part is to think about what restrictions and checks should be placed on each layer, customized for your website. Think about the logic in the data flow and the ways that attackers could get around your checks at each step.
        </section>
    </section><!-- sec-chunk -->

    <section class="sec-chunk">
        <div id="intro-part-preview" class="sec-title">
            Demo Preview
        </div>
        <section class="textchunk">
            <p>You will log in as different users with different privileges and get around the presentation layer by performing some data tampering. You should observe that the demo website has checks on the business layer to prevent presentation layer data tampering.</p>

            <p>Note that the [demo] only does the first two layers because the Django framework has a wrapper around the SQL database layer, so we do not directly interact with the Data Layer.</p>
        </section>
    </section><!-- sec-chunk -->

    <section class="sec-title-demo">
        <a href="/msw/{{ slug }}/demo" class="special">Go to Demo!</a>
    </section>

    <section class="sec-chunk">
        <div id="intro-part-resources" class="sec-title">
            Resources
        </div>
        <section class="textchunk">
           <ul>
                <li>

                </li>
                <li>

                </li>
            </ul>
        </section>
    </section><!-- sec-chunk -->

{#
    <section class="sec-chunk">
        <div id="intro-part-" class="sec-title">

        </div>
        <section class="textchunk">

        </section>
    </section><!-- sec-chunk -->

#}

{% endblock %}
