{% extends "msw/base.html" %}

{% block rightPanelText %}
    <h2>Content Security Policy</h2>
    
    <section id="table-of-contents">
        <!--<a href="#intro-part-category">Category</a>-->
        <a href="#intro-part-summary" class="special">Summary</a>
        <a href="#intro-part-details">Details</a>
        <a href="#intro-part-diagram">Diagram</a>
        <a href="#intro-part-doit">Do it</a>
        <a href="#intro-part-preview">Preview</a>
        <a href="#intro-part-resources">Resources</a>
        <a href="/msw/{{ slug }}/demo" class="special">Go to Demo!</a>
    </section><!--table-of-contents-->

    <section class="sec-chunk">
        <div id="intro-part-category" class="sec-title">
            Category
        </div>
        <section class="textchunk">
            JavaScript Defenses
        </section>
    </section><!-- sec-chunk -->

    <section class="sec-chunk">
        <div id="intro-part-summary" class="sec-title">
            Summary
        </div>
        <section class="textchunk">
            As a first line of defense against XSS, Contest Security Policy only executes white-listed external JavaScript. 
        </section>
    </section><!-- sec-chunk -->

    <section class="sec-chunk">
        <div id="intro-part-details" class="sec-title">
            Details
        </div>
        <section class="textchunk">
            <p>CSP has several restrictions, but the two most important restrictions are against XSS and clickjacking (similar to X-Frame-Options).</p>

            <p>With CSP, only externalized JavaScript with source specified in the website’s CSP white-list can be executed. So even if an attacker injects JavaScript into your webpage, the script would not be executed and CSP would show an alert.</p>

            <p>For preventing clickjacking, a website’s CSP only allow other white-listed sites to be able to embed itself. This way, a website has a choice on which sites it can be embedded into inside an iframe. Thus using CSP is a more flexible option compared to [X-Frame-Options: deny], which bans any other website from embedding itself.</p>
        </section>
    </section><!-- sec-chunk -->

    <section class="sec-chunk">
        <div id="intro-part-diagram" class="sec-title">
            Diagram
        </div>
        <section class="textchunk">
            <a href="{{ MEDIA_URL }}img/diagrams/csp.png" 
            target="_blank"> 
            <img class="diag"
            src="{{ MEDIA_URL }}img/diagrams/csp.png" 
            alt="csp diagram" /></a>
        </section>
    </section><!-- sec-chunk -->

    <section class="sec-chunk">
        <div id="intro-part-doit" class="sec-title">
            Do It Yourself
        </div>
        <section class="textchunk">
            <ol>
                <li>CSP is set in the response header as “x-content-security-policy.”</li>
                <li>Externalize all JavaScript, i.e. no in-body JavaScript, <b>as well as HTML event handlers like onclick()</b> or else they would not be executed.</li>
                <li>Put in the resources of your externalized Javascript into your CSP policy, i.e. the white-list.</li>
            </ol>

        <p>Please Firefox since it is the only browser that fully implements CSP as of August, 2011.</p>
        </section>
    </section><!-- sec-chunk -->

    <section class="sec-chunk">
        <div id="intro-part-preview" class="sec-title">
            Demo Preview
        </div>
        <section class="textchunk">
            <p>The demo focuses on CSP’s XSS protection. The demo page contains external and internal JavaScript alerts, where the external JavaScript is white-listed.</p>

            <p>On Firefox, only the external alert shows up, because CSP blocks the internal JavaScript. On browsers without CSP implementation, both alerts show up.</p>

        </section>
    </section><!-- sec-chunk -->

    <section class="sec-title-demo">
        <a href="/msw/{{ slug }}/demo" class="special">Go to Demo!</a>
    </section>

    <section class="sec-chunk">
        <div id="intro-part-resources" class="sec-title">
            Resources
        </div>
        <section class="textchunk">
           <ul>
                <li>
                    <a href="https://developer.mozilla.org/en/Introducing_Content_Security_Policy">Nice overview of CSP</a>
                </li>
                <li>
                    <a href="http://people.mozilla.com/~bsterne/content-security-policy/details.html">CSP Details</a>
                </li>
                <li>
                    <a href="https://github.com/mozilla/django-csp" target="_blank">django-csp</a>
                </li>
            </ul>
        </section>
    </section><!-- sec-chunk -->

{% endblock %}
