{% extends "msw/base.html" %}

{% block rightPanelText %}
    <h2>Image Upload</h2>
    
    <section id="table-of-contents">
        <!--<a href="#intro-part-category">Category</a>-->
        <a href="#intro-part-summary" class="special">Summary</a>
        <a href="#intro-part-details">Details</a>
        <a href="#intro-part-diagram">Diagram</a>
        <a href="#intro-part-doit">Do it</a>
        <a href="#intro-part-preview">Preview</a>
        <a href="#intro-part-resources">Resources</a>
        <a href="/msw/{{ slug }}/demo" class="special">Go to Demo!</a>
    </section><!--table-of-contents-->

    <section class="sec-chunk">
        <div id="intro-part-category" class="sec-title">
            Category
        </div>
        <section class="textchunk">
            Input Validation
        </section>
    </section><!-- sec-chunk -->

    <section class="sec-chunk">
        <div id="intro-part-summary" class="sec-title">
            Summary
        </div>
        <section class="textchunk">
            Prevent uploads from broken image file, non-image files, or malicious image files with embedded script. 
        </section>
    </section><!-- sec-chunk -->

    <section class="sec-chunk">
        <div id="intro-part-details" class="sec-title">
            Details
        </div>
        <section class="textchunk">
            <p>Follow the three guidelines for <a href="https://wiki.mozilla.org/WebAppSec/Secure_Coding_Guidelines#Image_Upload">Image Upload</a>:</p>
            <ol>
                <li>Strip away extraneous and potentially malicious content in the image file
                        <p class="indent">Done by rewriting every image file with Python Image Library (PIL)</p>
                        <p class="indent">Reason: Sometimes a malicious file poses as an image file. The process of rewriting an image can pick out fake image files. If the image is not completely broken, rewriting only keeps the essential image components of the file, stripping away extraneous contents such as scripts.</p>
                </li>

                <li>Set extension of of the stored image to be a valid image extension
                         <p class="indent">The results of the rewriting are saved as “png”s</p>
                         <p class="indent">Reason: For consistency.</p>
                </li>

                <li>Ensure the detected content type is within a list of defined image types (jpg, png, etc)
                        <p class="indent">White-list of image file extensios</p>
                        <p class="indent">Reason: Prevent uploading of file such as executables.</p>
                </li>
            </ol>
        </section>
    </section><!-- sec-chunk -->

    <section class="sec-chunk">
        <div id="intro-part-diagram" class="sec-title">
            Diagram
        </div>
        <section class="textchunk">
            <a href="{{ MEDIA_URL }}img/diagrams/image_upload.png" 
            target="_blank"> 
            <img class="diag" id="diag_image_upload"
            src="{{ MEDIA_URL }}img/diagrams/image_upload.png" 
            alt="image upload diagram" /></a>
        </section>
    </section><!-- sec-chunk -->

    <section class="sec-chunk">
        <div id="intro-part-doit" class="sec-title">
            Do It Yourself
        </div>
        <section class="textchunk">
            <p>The big idea:</p>
            <ol>
                <li>Get [PIL]</li>
                <li>Set up [Image Upload]</li>
                <li>[Tweak] the forms.py to perform image rewriting</li>
            </ol>

            <p>Image uploading in Django is a bit complicated, try to follow the [the demo's code].</p>
        </section>
    </section><!-- sec-chunk -->

    <section class="sec-chunk">
        <div id="intro-part-preview" class="sec-title">
            Demo Preview
        </div>
        <section class="textchunk">
            <p>You will get to upload images, some of which have extraneous JavaScript insert. Observe that one the image is uploaded, the resulting image is a rewritten and resized version of the original image without any of the extraneous JavaScript.</p>
        </section>
    </section><!-- sec-chunk -->

    <section class="sec-title-demo">
        <a href="/msw/{{ slug }}/demo" class="special">Go to Demo!</a>
    </section>

    <section class="sec-chunk">
        <div id="intro-part-resources" class="sec-title">
            Resources
        </div>
        <section class="textchunk">
           <ul>
                <li>
                    <a href="https://wiki.mozilla.org/WebAppSec/Secure_Coding_Guidelines#Image_Upload">Image Upload Guidelines</a>
                </li>
                <li>

                </li>
            </ul>
        </section>
    </section><!-- sec-chunk -->

{#
    <section class="sec-chunk">
        <div id="intro-part-" class="sec-title">

        </div>
        <section class="textchunk">

        </section>
    </section><!-- sec-chunk -->

#}

{% endblock %}
