{% extends "msw/base.html" %}
{% block head_stuff %}
{% endblock %}

{% block rightPanelText %}
<!-- sorry I know I'm probably doing everything against the principles of jinja/django. But I have to do this quick. -->
    <h2>CSP Demo</h2>

    <div id="table-of-contents">
        <span id="table-of-contents-head"></span>
            <a href="#demo-part-over" class="special">Overview</a>
            <a href="#demo-part-demo">Demo</a>
            <a href="#demo-part-verify">How to verify</a>
            <a href="#demo-part-code">Code</a>
            <a href="/msw/{{ slug }}" class="special">Go to Intro</a>
    </div><!--table-of-contents-->

    <div class="sec-chunk">
        <div id="demo-part-over" class="sec-title">
            Overview
        </div>

        <section class="textchunk">
            <p>In the <a href="#demo-part-demo">demo</a>, you will be logging into <a href="/msw/accesscontrol/demo/membersPost">Members Posting Page</a> with different user accounts. Once logged in, you can post messages as yourself from a selection of drop-down menu. The super accounts will be able to pose as the regular users. You will be shown how to get pass the Presentation Layer drop-down restrictions, but still wouldn’t get around the Business Layer.</p>

            <p>You should have a basic idea about how websites are built: the client-side, the server-side, and the database.</p>

            <p>The <a href="#demo-part-verify">how to verify</a> section provides details on how to check your site is safe with protections on all three layers.</p>

            <p>View the <a href="#demo-part-code">code</a> section to see the code that's used to make the demo work.</p>
        </section>
    </div><!-- sec-chunk -->

    <div class="sec-chunk">
        <div id="demo-part-demo" class="sec-title">
            CSP Demo
        </div>

        <section class="textchunk">
            Directions:
            <ol>
                <li><a href="/msw/accesscontrol/demo/membersPost">Login as</a> specified regular or super user (look below)</li>
                <li><span class="hlight">Presentation Layer restriction:</span> Observe that regular users can only select to post under their usernames while super users can post under anybody's user name</li>
                <li>Tamper with [BURP] or [Firefox Tamper Data Addon].</li>
                <li><span class="hlight">Business Layer restriction:</span> Observe that the demo can detect tampering</li>
            </ol>
            Login as these users:
            <div class="inside">
                <table>
                    <tr>
                        <th>User Name</th>
                        <th>Password</th>
                    </tr>
                    <tr>
                        <td>regular_alice</td>
                        <td>vuX9JZ8U</td>
                    </tr>
                    <tr>
                        <td>regular_bob</td>
                        <td>WE1H72wo</td>
                    </tr>
                    <tr>
                        <td>super_foo</td>
                        <td>hdpV5203</td>
                    </tr>
                    <tr>
                        <td>super_bob</td>
                        <td>BAs89dkw</td>
                    </tr>
                </table>
            </div>

            Regular users can only post under their names. Admins can post under any one's name.
        </section>
    </div><!-- sec-chunk -->

    <div class="sec-chunk">
        <div id="demo-part-verify" class="sec-title">
            How to verify
        </div>

        <section class="textchunk">
            Hire a security team to find all the vulnerabilities.
        </section>
    </div><!-- sec-chunk -->


    <div class="sec-chunk">
        <div id="demo-part-code" class="sec-title">
            My code - code for making this demo work
        </div>

        <section class="textchunk">
            Actual codecoming before September, 2011!

                <p><b>My Setup</b><br />
                    - Make a users table and a text table with available users and text indexed by ID<br />
                    - create 3rd table that keeps track of what users have posted by recording the IDs of user names and text<br />
                    - Create a Django group for superusers and add "super_foo" and "super_bar" into the group. Now we can differentiate super users and regular users
                </p>

                <p> 
                <b>Presentation layer:</b> <br />
                    - Detect whether a super is super or not. Super users can select to post as anyone. Non-supers can only post as themselves.<br />
                    - The choices are sent to the server as integers id's
                </p>
                <p><b>Business layer:</b><br />
                    - Test 1: Make sure that the inputs are actually integers<br />
                    - Test 2: Make sure that the integer inputs are in the allowed range<br />
                    - If the above 2 tests are not passed, the inputs are discarded.<br />
                    - If the above 2 tests are passed, the inputs are saved into the database<br />
                </p>
                <p><b>Data layer:</b><br />
                    - Django takes care of the business --&gt; data layer
                </p>

        </section>
    </div><!-- sec-chunk -->

{% endblock %}

