{% extends "msw/base.html" %}
{% block head_stuff %}
{% endblock %}

{% block rightPanelText %}
<!-- sorry I know I'm probably doing everything against the principles of jinja/django. But I have to do this quick. -->
    <h2>CSP Demo</h2>

    <div id="table-of-contents">
        <span id="table-of-contents-head"></span>
            <a href="#demo-part-over" class="special">Overview</a>
            <a href="#demo-part-demo">Demo</a>
            <a href="#demo-part-verify">How to verify</a>
            <a href="#demo-part-code">Code</a>
            <a href="/msw/{{ slug }}" class="special">Go to Intro</a>
    </div><!--table-of-contents-->

    <div class="sec-chunk">
        <div id="demo-part-over" class="sec-title">
            Overview
        </div>

        <section class="textchunk">

            <p>In <a href="#demo-part-demo">this demo</a>, you are going to see how CSP successfully blocks a in-body JavaScript in Firefox, a CSP-aware browser. In contrast, browsers without full CSP implementation, such as Chrome and Safari, fail to block the in-body JavaScript.

            <p>Before you start, you should be aware that in XSS attacks, malicious JavaScript can be inserted into the body of the page.</p>

            <p>The <a href="#demo-part-verify">how to verify</a> section provides details on how to ensure your site is taking advantage of CSP.</p>

            <p>View the <a href="#demo-part-code">code</a> section to see the code that's used to turn on CSP for MozSecWorld and the specific code that makes this demo work.</p>
        </section>
    </div><!-- sec-chunk -->

    <div class="sec-chunk">
        <div id="demo-part-demo" class="sec-title">
            CSP Demo
        </div>

        <section class="textchunk">

            <p>The demo contains external and internal JavaScript alerts, where the external JavaScript is white-listed. When using Firefox, only the external alert shows up, because CSP blocks the internal JavaScript. When using browsers without CSP implementation, both alerts show up.</p>

            <p>This page contains 2 pieces of javascript:</p>

            <p>* An external js that alerts "You got XSS-ed from an EXTERNAL JS"
                <p class="indent">Code: <code>alert(“You got XSS-ed from an EXTERNAL JS.”)</code></p>
                <p class="indent">Source:<code>&lt;script src="<a href="/media/js/msw/csp_external.js">/media/js/msw/csp_external.js</a>"&gt;&lt;/script&gt;</code></p>
            </p>

            <p>* An in-body js that alerts "You got XSS-ed from an IN-BODY JS" 
                <p class="indent">Code: <code>&lt;script&gt;alert("You got XSS-ed from an IN-BODY JS");&lt;/script&gt;</code></p>
                <p class="indent">Source: [View source] on page and find this script here --}<script>alert("You got XSS-ed from an IN-BODY JS");</script>{--</p>
            </p>

            <p>Directions:
                <ol>
                    <li>View this page in Chrome or Safari.</li>
                    <li>Observe that you see 2 popups from each of the JavaScript alerts.</li>
                    <li>View this page in Firefox.</li>
                    <li>Observe that you only see 1 popup, from the external JavaScript alert.</li>
                </ol>
            </p>

            <p>This is because only the Firefox browser fully supports CSP, i.e. the 'X-Content-Security-Policy' in the [HTTP Response Header].</p>

            <p class="hlight">When you have CSP turned on, even if an attacker carries XSS on your page and inserts JavaScript into the body of your page, the malicious Javascript would not get executed inside Firefox.</p>


        </section>
    </div><!-- sec-chunk -->

    <div class="sec-chunk">
        <div id="demo-part-verify" class="sec-title">
            How to verify
        </div>

        <section class="textchunk">

        <p>Firefox: <a href="http://getfirebug.com/" target="_blank">Get Firebug</a> and open up your web page (not in an iframe)
        <ol>
            <li>Click on Firebug's "Net" option</li>
            <li>Refresh page</li>
            <li>Click on 'GET [your url]'</li>
            <li>Look under Headers' "Response Headers"</li>
            <li>See what you have for "X-Content-Security-Policy". If you don't see "X-Content-Security-Policy", your web server does not have this header set.</li>
        </ol>
        </p>

        <p>Chrome:
        <ol>
            <li>Right click on page</li>
            <li>Choose "Inspect Elements"</li>
            <li>Follow Firefox's steps</li>
        </ol>
        </p>

{#
        <p>Terminal:
        <ol>
            <li><code>&gt;telnet [insert IP-address of your site] 8000</code></li>
            <li>Press enter</li>
            <li>Put in <code>GET /en-US/msw/ HTTP/1.1</code></li>
            <li>Press enter twice</li>
            <li>Scroll to the very top of the output</li>
            <li>Should see "X-Content-Security-Policy". If you don't see it, your web server does not have this header set.</li>
        </ol>
        </p>

#}

        </section>
    </div><!-- sec-chunk -->


    <div class="sec-chunk">
        <div id="demo-part-code" class="sec-title">
            My code - code for making this demo work
        </div>

        <section class="textchunk">
            Coming before September, 2011!
{#
            [settings.py] stuff that sets the CSP
            [this code specific]
#}
        </section>
    </div><!-- sec-chunk -->

{% endblock %}

{% block body_end %}
{{ js('csp_alert') }}
{% endblock %}
