{% extends "msw/base.html" %}

{% block rightPanelText %}
    <h2>Content Security Policy</h2>

    <p />
    <h3>What to do</h3>
        <p>Externalize all of your javascript as <code>&lt;script type="text/javascript" src="you_js_source"&gt;&lt;/script&gt;</code></p>

    <h3>How to check</h3>
        <p>no javascript in the html body.</p>
    <h3>What I did</h3>
        <p>I added the <a href="https://github.com/mozilla/django-csp" target="_blank">django-csp</a> middleware to Django that adds 'X-Content-Security-Policy' to the HTTP Response Header</p>
        <p>Have to make sure you have appropriate CSP policies, CSP_* settings in settings.py, so that you can retrieve javascript from external websites that you approve. Read the README of django-csp for details.</p>

    <h3>The demo: </h3>
    <p>This page contains 2 pieces of javascript:<br />
    <br />* 1 external js that alerts "You got XSS-ed from an EXTERNAL JS". <br />
    <br />* 1 in-body js that alerts "You got XSS-ed from an IN-BODY JS". like  <code>&lt;script&gt;alert("You got XSS-ed from an IN-BODY JS");&lt;/script&gt;</code></p>
    <script>alert("You got XSS-ed from an IN-BODY JS");</script>
    <p>View this page in Firefox and Chrome.</p>
    <p>You should observe in Firefox the in-body alert is not displayed, but in Chrome it is. This is because the Firefox browser supports 'X-Content-Security-Policy'. So if you have an input box that attackers could put in Javascript for XSS, the XSS would not get run in Firefox.</p>
    <p>If you add 'X-Content-Security_Policy' to your HTTP Repsonse Header, remember to externalize all of your javascript <strong>as well as HTML event handlers like onclick()</strong> or else they would be treated like XSS and not run.</p>

    <h1><a href="{{ page.reverse_url() }}">back</a></h1>
{% endblock %}

{% block body_end %}
{{ js('csp_alert') }}
{% endblock %}
