{% extends "msw/base.html" %}
{% block head_stuff %}
{% endblock %}

{% block rightPanelText %}
<!-- sorry I know I'm probably doing everything against the principles of jinja/django. But I have to do this quick. -->
    <h2>Parameterized SQL Demo</h2>

    <div id="table-of-contents">
        <span id="table-of-contents-head"></span>
            <a href="#demo-part-over" class="special">Overview</a>
            <a href="#demo-part-demo">Demo</a>
            <a href="#demo-part-verify">How to verify</a>
            <a href="#demo-part-code">Code</a>
            <a href="/msw/{{ slug }}" class="special">Go to Intro</a>
    </div><!--table-of-contents-->

    <div class="sec-chunk">
        <div id="demo-part-over" class="sec-title">
            Overview
        </div>
        
        <section class="textchunk">
        <p>You will try SQL injections and see that they do not get executed. Make sure you have a basic understanding of [SQL queries].</p>
        <p>The <a href="#demo-part-verify">how to verify</a> section provides details on how to ensure that your parameterized queries are working properly.</p>
        <p>View the <a href="#demo-part-code">code</a> section to see the code that's used to set up this demo.</p>
        
        </section>
    </div><!-- sec-chunk -->

    <div class="sec-chunk">
        <div id="demo-part-demo" class="sec-title">
            SQL Parameterization Demo
        </div>
        
        <section class="textchunk">
        
            <p>This is a SQL query, the one running for this demo:<br />
            <code class="code-indent">query = "INSERT INTO msw_sql_table SET name = 'sql_inj_test', comment = '" + <span class="hl-yellow">myComment</span> + "';"</code>
            </p>

            <p>Without any SQL protection, a malicious user could put:<br />
            <code class="code-indent">myComment = "<span class="hl-yellow">no comment'; drop table msw_sql_table; -- </span>"</code>
            so that the query looks like<br />
            <code class="code-indent">INSERT INTO msw_sql_table SET name = 'sql_inj_test', comment = '<span class="hl-yellow">no comment'; drop table msw_sql_table; -- </span>';</code>
            where “--” means ignoring the rest of the query.<br />
            
            This query is now malicious, since it would delete the table when executed.</p>

            <p>
            When you have SQL parameterization, no query is interpreted, so your tables are safe!
            </p>

            {{ csrf() }}
            <p>Insert SQL Statement here: <input id="inputSql" type="text"></input></p>
            <button id="checkButton">Click me to check query</button>

            <p>Last 5 results:</p>
            <p><span id="output"></span></p>
        
        </section>
    </div><!-- sec-chunk -->

    <div class="sec-chunk">
        <div id="demo-part-verify" class="sec-title">
            How to verify
        </div>
        
        <section class="textchunk">
        <p>
        Make a input field like the one above and try malicious queries, like “drop table” above. Then go into your database to see if the query got carried through.</p>
        <p>
        Make sure that your query is actually valid with the correct quotations, invalid queries result in false negatives.
        </p>
        
        </section>
    </div><!-- sec-chunk -->

    <div class="sec-chunk">
        <div id="demo-part-code" class="sec-title">
            My code - code for making this demo work
        </div>
        
        <section class="textchunk">
        <code class="code-indent">cursor.execute("INSERT INTO msw_richtext SET name = 'sql_inj_test', comment = %s", [myComment]) </code>
        More to come before September, 2011!
        
        </section>
    </div><!-- sec-chunk -->

{% endblock %}

{% block body_end %}
{{ js('sql_ajax') }}
{% endblock %}
