{% extends "msw/base.html" %}
{% block head_stuff %}
{% endblock %}

{% block rightPanelText %}

    <h2>Parameterized SQL Satements Demo</h2>
        {{ csrf() }}
        <p>Insert SQL Statement here: <input id="inputSql" type="text"></input></p>
        <button id="checkButton">Click me to check query</button>
        <p>Last 5 results:</p>
        <p> <span id="output"></span></p>
        <p>Try these inputs and observe how parameterized statements take care of the different quotes:
            <ol>
                <li>evilComment' or '1'='1</li>
                <li>evilComment" or "1"="1</li>
                <li>evilComment' or "1"="1</li>
            </ol>

        </p>

    <h3>What to do</h3>
        <p>Read about SQL Injections and then go to "What I did"</p>

    <h3>How to check</h3>
        <p>Set up an input text field and try if you can do some sql injection. Have the server print out the queries, everything should be parameterized.</p>
    <h3>What I did</h3>
        <p><a href="https://docs.djangoproject.com/en/dev/topics/db/sql/#passing-parameters-into-raw">Django does parameterized statements for you</a>, but if you don't use Django for web development, you can <a href="http://rosettacode.org/wiki/Parametrized_SQL_statement#Ruby">see examples in different languages</a>.</p>
    <h1><a href="{{ page.reverse_url() }}">back</a></h1>
{% endblock %}

{% block body_end %}
{{ js('sql_ajax') }}
{% endblock %}
