{% set _obj = richtext %}

{% extends "msw/base.html" %}

{% block head_stuff %}
{% endblock %}

{% block rightPanelText %}
    <h2>Richtext and Safe URL Demo</h2>

    <p />
    <h3>What to do</h3>
        <p>Add bleach, Google SafeBrowsing, add the 3 steps to check that there is no MITM for Google SafeBrowsing</p>

    <h3>How to check</h3>
        <p>
        Name field: put in a safe or malicious link <em>MUST START with "http://" or "https://"</em>
        </p>
        <p>
        Comment field: Try to put in a "script" tag, what happens? Try to put in a "i" tag, what happens?
        </p>
    <h3>What I did</h3>
        <p>
        described above.
        </p>

    <h3>The demo: </h3>

    <!---------------->
      <form id="myform" action="" method="post">
      {{ csrf() }}
      {{ form.as_p() }}
      <input type="submit" value="Submit" />
      </form>

      <div id="results">
      {% include 'msw/demos/children/richtext_table.html' %}
      </div>
    <!---------------->

{#
<h1><a href="/msw/{{ page.slug }}/">back</a></h1>
    <h1><a href="{{ url('details', 'richtext_and_safe_url') }}">back</a></h1>
#}
    <h1><a href="{{ richtext.richtext_url() }}">back</a></h1>
{% endblock %}

{% block body_end %}
{{ js('richtext_safeurl') }}
{% endblock %}
