{% extends "msw/base.html" %}
{% block head_stuff %}
{% endblock %}

{% block rightPanelText %}
<!-- sorry I know I'm probably doing everything against the principles of jinja/django. But I have to do this quick. -->
    <h2>Rich Text Demo</h2>

    <div id="table-of-contents">
        <span id="table-of-contents-head"></span>
            <a href="#demo-part-over" class="special">Overview</a>
            <a href="#demo-part-demo">Demo</a>
            <a href="#demo-part-verify">How to verify</a>
            <a href="#demo-part-code">Code</a>
            <a href="/msw/{{ slug }}" class="special">Go to Intro</a>
    </div><!--table-of-contents-->

    <div class="sec-chunk">
        <div id="demo-part-over" class="sec-title">
            Overview
        </div>

        <section class="textchunk">        
        <p>
        You will type in raw HTML into the textbox, in the back-end we 
        run the input through <a target="_blank"
href="https://github.com/jsocol/bleach"
        >bleach</a>, so that html tags not on 
        <a target="_blank"
href="https://github.com/jsocol/bleach/blob/master/bleach/__init__.py#L20"
        >bleach’s whitelist</a> will be escaped. 
        You should have a basic understanding of <a target="_blank"
        href="http://www.w3schools.com/html/">html</a>.
        </p>
        <p>The <a href="#demo-part-verify">how to verify</a> section describes how you can ensure that bleach is working correctly.</p>
        <p>View the <a href="#demo-part-code">code</a> section to see the code that's used to run bleach.</p>

        </section>
    </div><!-- sec-chunk -->

    <div class="sec-chunk">
        <div id="demo-part-demo" class="sec-title">
            Rich Text Demo
        </div>

        <section class="textchunk">        

            <p>Try typing in raw HTML here.</p>

            <p>For example, copy-paste in:<br />
            <code class="code-indent" style="color: black; 
            font-family: Helvetica,sans-serif;">
            &lt;b&gt;Am I in bold?&lt;/b&gt; 
            &lt;script&gt;alert("Am I being alerted in a script?")
            &lt;/script&gt;</code><p/>

            <!---------------->
              <form id="myform" action="" method="post">
              {{ csrf() }}
              {{ form.as_p() }}
              <!--<input type="submit" value="Submit" />-->
              <button>Submit text!</button>
              </form>

              <div id="results">
              {% include 'msw/demos/children/rich_table.html' %}
              </div>
            <!---------------->

            <p>If you submitted the example above, you should see this output:
            </p>

            <code class="code-indent" style="color: black; 
            background-color: white; font-family: Helvetica,sans-serif;">
            <b>Am I in bold?</b> &lt;script&gt;alert(“Am I being alerted in 
            a script?”);&lt;/script&gt;
            </code>

            <p>Observe that:<br />
            1. The <code>&lt;b&gt;</code> and <code>&lt;/b&gt;</code> tags 
            are gone from the text because they’re being rendered so that the 
            text in between them are bolded.<br />
            2. The <code>&lt;script&gt;</code> and <code>&lt;/script&gt;</code>
            tags are still present.
            </p>

            <p><code>&lt;b&gt;</code> got rendered into HTML, because "b" is
            on <a target="_blank" href="https://github.com/jsocol/bleach">
            bleach</a>'s white-list.</p>

            <p><a target="_blank"
href="https://github.com/jsocol/bleach/blob/master/bleach/__init__.py#L20"
            >Bleach's white-listed</a> HTML tags:</p>
                
            <p>['a', 'abbr',   'acronym',   'b',   'blockquote',   'code',   'em',   'i',   'li','ol','strong','ul']</p>

            <p>Everything else, including the potentially malicious
            <code>&lt;script&gt;</code>, is escaped.
            </p>

        </section>
    </div><!-- sec-chunk -->

    <div class="sec-chunk">
        <div id="demo-part-verify" class="sec-title">
            How to verify
        </div>

        <section class="textchunk">        

            To check that you have bleach installed correctly, you should make a textbox and input text like this demo, and observe that only white-listed tags are rendered.

        </section>
    </div><!-- sec-chunk -->

    <div class="sec-chunk">
        <div id="demo-part-code" class="sec-title">
            My code - code for making this demo work
        </div>
        
        <section class="textchunk">
            In <a target="_blank" 
href="https://github.com/haoqili/MozSecWorld/blob/master/apps/msw/forms.py"
            >forms.py</a>, I added <code>bleach.clean(data)</code> to this
            demo's form data.:
            <pre>
            <b>import bleach</b>

            class RichTextInputForm(ModeForm):
                class Meta:
                    model = RichTextInput
 
                def clean_text(self):
                    data = self.cleaned_data['text']
                    return <b>bleach.clean(data)</b>
            </pre>
            Where "text" is the name of the input field 
            (same in the model).

        </section>
    </div><!-- sec-chunk -->

{% endblock %}

{% block body_end %}
{{ js('richtext_safeurl') }}
{% endblock %}
