{% extends "msw/base.html" %}
{% block head_stuff %}
{% endblock %}

{% block rightPanelText %}
    <h2>'Set-Cookie: HTTPOnly' Demo</h2>
        <p />
        <button type="button" id='name1'>View cookie withOUT HTTPOnly</button>
        <button type="button" id='name2'>View cookie with HTTPOnly</button>
  
    <h3>What to do</h3>
        <p>Add in this line to your HTTP Response Headers: <code>Set-Cookie: HTTPOnly</code></p>

    <h3>How to check</h3>
        <p>Firefox's Firebug or Chrome's "Inspect Elements": Go to "Net" option, refresh page, and click on the link that shows up, select "Headers" and you should see "httponly;" as an attribute of "Set-Cookie"" under "Response Headers"</p>
        <p>Terminal: <code>>telnet [insert IP-address of your site] 8000</code> Press enter and put in <code>GET /en-US/msw/ HTTP/1.1</code> Press enter twice, and scroll to the very top of the output, should look for the same thing as above.
</p>
    <h3>What I did</h3>

Playdoh <a href="http://readthedocs.org/docs/playdoh/en/latest/bestpractices.html">best practices document</a>&nbsp;says:"to be secure by default, we use commonware&#8217;s cookies app. It makes secure and httponly cookies the default."<br /> 
<br /> 
I think Playdoh sets it in "/vendor/src/commonware/commonware/response/cookies/monkeypatch.py" which starts off saying:<br /> 
<br /> 
<i>Monkey-patch secure and httponly cookies into Django by default.<br /> 
Enable this by adding ``commonware.response.cookies`` to your INSTALLED_APPS."<br /> 
</i><br /> 
<br /> 
So I went to my settings_local.py and found that commonware.response.cookies is already set.<br /> 
<br /> 
Needs to test that "<b>Set-Cookie: httponly;</b>" can be found in the HTTP Response Header.<br /> 
<br /> 
I first Used <a href="http://portswigger.net/burp/proxy.html">Burp Proxy</a>&nbsp;to see the HTTP Response Header stuff, but Firebug, Chrome Inspect Element, and telnet would suffice.<br /> 
<br /> 
<b>Demo above:</b><br /> 
To trigger the HTTPOnly response in Playdoh, just set any cookie in the response. Note that this has to be a cookie set on the server side, it would not work if the cookie is set on the client set (TODO: add in the diagram)<br />
So I simply added this to the view of the demo page:<br /> 
<pre>
def httponly_true(request):
    html = "... [html stuff] ..."
    response = HttpResponse(html)
    response.set_cookie('foo', 'bar')
    return response
</pre>
<br /> 
HTTP Request Header:<br /> 
<pre>GET /en-US/msw/set_cookie HTTP/1.1
Host: 127.0.0.1:8000
User-Agent: Mozilla/5.0 (Macintosh; Intel Mac OS X 10.6; rv:2.0.1) Gecko/20100101 Firefox/4.0.1
Accept: text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8
Accept-Language: en-us,en;q=0.5
Accept-Encoding: gzip, deflate
Accept-Charset: ISO-8859-1,utf-8;q=0.7,*;q=0.7
Keep-Alive: 115
Proxy-Connection: keep-alive
</pre><br /> 
HTTP Response Header:<br /> 
<pre>HTTP/1.0 200 OK
Date: Fri, 10 Jun 2011 20:23:27 GMT
Server: WSGIServer/0.1 Python/2.7.1
x-frame-options: DENY
Content-Type: text/html; charset=utf-8
Set-Cookie:  foo=bar; httponly; Path=/
</pre><br /> 
<!--
<b>Test 1 Without seeing "set-cookies"</b><br /> 
<br /> 
I created a page with a cookie stolen from W3Schools. &nbsp;Here is <a href="http://www.pastie.org/private/qtjz2xwy7dkfxlrxnfabg">the html</a>. &nbsp;But I could not find "set-cookies" in the HTTP Response Header.<br /> 
<br /> 
First time there (enter name):<br /> 
HTTP Request Header:<br /> 
<pre>GET /en-US/msw/cookie HTTP/1.1
Host: 127.0.0.1:8000
User-Agent: Mozilla/5.0 (Macintosh; Intel Mac OS X 10.6; rv:2.0.1) Gecko/20100101 Firefox/4.0.1
Accept: text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8
Accept-Language: en-us,en;q=0.5
Accept-Encoding: gzip, deflate
Accept-Charset: ISO-8859-1,utf-8;q=0.7,*;q=0.7
Keep-Alive: 115
Proxy-Connection: keep-alive
</pre><br /> 
HTTP Response Header:<br /> 
<pre>HTTP/1.0 200 OK
Date: Fri, 10 Jun 2011 20:17:50 GMT
Server: WSGIServer/0.1 Python/2.7.1
x-frame-options: DENY
Content-Type: text/html; charset=utf-8
</pre><br /> 
Second time there (with name in cookie):<br /> 
HTTP Request Header:<br /> 
<pre>GET /en-US/msw/cookie HTTP/1.1
Host: 127.0.0.1:8000
User-Agent: Mozilla/5.0 (Macintosh; Intel Mac OS X 10.6; rv:2.0.1) Gecko/20100101 Firefox/4.0.1
Accept: text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8
Accept-Language: en-us,en;q=0.5
Accept-Encoding: gzip, deflate
Accept-Charset: ISO-8859-1,utf-8;q=0.7,*;q=0.7
Keep-Alive: 115
Proxy-Connection: keep-alive
Cookie: username=Bunny%20Rabbit
Cache-Control: max-age=0
</pre><br /> 
HTTP Response Header:<br /> 
<pre>HTTP/1.0 200 OK
Date: Fri, 10 Jun 2011 20:20:51 GMT
Server: WSGIServer/0.1 Python/2.7.1
x-frame-options: DENY
Content-Type: text/html; charset=utf-8
</pre>
-->
    <h1><a href="{{ page.reverse_url() }}">back</a></h1>
{% endblock %}

{% block body_end %}
{{ js('httponly_viewcookie') }}
{% endblock %}
