{% extends "msw/base.html" %}
{% block head_stuff %}
{% endblock %}

{% block rightPanelText %}
<!-- sorry I know I'm probably doing everything against the principles of jinja/django. But I have to do this quick. -->
    <h2>'Set-Cookie: HttpOnly' Demo</h2>

    <div id="table-of-contents">
        <span id="table-of-contents-head"></span>
            <a href="#demo-part-over" class="special">Overview</a>
            <a href="#demo-part-demo">Demo</a>
            <a href="#demo-part-verify">How to verify</a>
            <a href="#demo-part-code">Code</a>
            <a href="{{ page.reverse_url() }}" class="special">Go to Intro</a>
    </div><!--table-of-contents-->

    <div class="sec-chunk">
        <div id="demo-part-over" class="sec-title">
            Overview
        </div>
        <p>You will learn see the difference between <a href="#demo-part-demo">cookies with or without HttpOnly</a>, make sure you have some knowledge of <a href="http://en.wikipedia.org/wiki/HTTP_cookie" target="_blank">cookies</a>.</p>
        <p>The <a href="#demo-part-verify">how to verify</a> section provides details on how to ensure your cookies have the HttpOnly attribute.</p>
        <p>View the <a href="#demo-part-code">code</a> section to see the code that's used to set HttpOnly for this demo.</p>
    </div><!-- sec-chunk -->

    <div class="sec-chunk">
        <div id="demo-part-demo" class="sec-title">
            Set-Cookie: HttpOnly Demo
        </div>
        <p>There are two cookies on this page, one with the HttpOnly attribute, one without.</p>
        <div class="inside">
            <table>
                <tr>
                    <th>Name</th>
                    <th>Value</th>
                    <th>HttpOnly?</th>
                </tr>
                <tr>
                    <td>cookie1</td>
                    <td>foo</td>
                    <td>no :(</td>
                </tr>
                <tr>
                    <td>cookie2</td>
                    <td>bar</td>
                    <td>yes :)</td>
                </tr>
            </table>
        </div>
        <p>The buttons below use JavaScript to display the contents (i.e. values) of the cookies.</p>
        <div class="inside">
            <button type="button" id='cookie1'>see contents of cookie1</button>
            <button type="button" id='cookie2'>see contents of cookie2</button>
        </div>
        <p>You should observe that you can see the contents ("foo") of cookie1, but <span class="hlight">cannot see the contents ("bar") of cookie2, which has HTTPOnly enabled</span> and thus JavaScript is unable to access the cookie value.</p>

    </div><!-- sec-chunk -->

    <div class="sec-chunk">
        <div id="demo-part-verify" class="sec-title">
            How to verify
        </div>

        <p>Firefox: <a href="http://getfirebug.com/" target="_blank">Get Firebug</a> and open up this demo page
        <ol>
            <li>Click on Firebug's "Cookies" option</li>
            <li>Refresh this demo page</li>
            <li>You should see all the cookies and values (since Firebug has browser privileges)</li>
            <li>Look under the HttpOnly column on the right side and you should see that cookie1 does not have <code>HttpOnly</code></li>
        </ol>
        </p>

        <p>Chrome:
        <ol>
            <li>Right click on this demo page</li>
            <li>Choose "Inspect Elements"</li>
            <li>Click on "Resources"</li>
            <li>Expand on "Cookies"</li>
            <li>Refresh this demo page</li>
            <li>You should see all the cookies and values</li>
            <li>Look under the HTTP column on the right and you should see cookie1 does not have a check mark</li>
        </ol>
        </p>

        <p>Terminal:
        <ol>
            <li><code>&gt;telnet [insert IP-address of your site] 8000</code></li>
            <li>Press enter</li>
            <li>Put in <code>GET /en-US/msw/ HTTP/1.1</code><!--TODO: CHANGE!!!!!! to right one--></li>
            <li>Press enter twice, you should see "HTTP/1.0 200 OK" at the beginning of the output</li>
            <li>Should see that cookie1 does not have <code>httponly;</code> associated with it: <code>Set-Cookie: cookie1=foo; httponly; ... cookie2/bar;</code></li>
        </ol>
        </p>
        <!--[TODO: add pictures]-->
    </div><!-- sec-chunk -->

    <div class="sec-chunk">
        <div id="demo-part-code" class="sec-title">
            My code - code for making this demo work
        </div>
        <p>In Django <a href="https://github.com/haoqili/MozSecWorld/blob/master/apps/msw/views.py#L377">views.py (click to go to github)</a>
        <pre>
            response = jingo.render(...)
            response.set_cookie('cookie1', 'foo', httponly=False)
            response.set_cookie('cookie2', 'bar', httponly=True)
            return response
        </pre>
       
        <p>Extra Notes:</p>

        <p>If you are using Django, make sure you have <code>SESSION_COOKIE_HTTPONLY = True</code> in settings.py, since the <a href="https://docs.djangoproject.com/en/dev/ref/settings/#std:setting-SESSION_COOKIE_HTTPONLY">default</a> is unfortunately false.</p>

        <p><a href="http://playdoh.readthedocs.org/en/latest/">Mozilla's Playdoh</a> automatically have <a href="http://readthedocs.org/docs/playdoh/en/latest/bestpractices.html#mmmmh-cookies">Set-Cookie: HttpOnly</a>, ensure that you have <code>commonware.response.cookies</code> in your settings.py's installed apps.</p>
    </div><!-- sec-chunk -->

{% endblock %}

{% block body_end %}
{{ js('httponly_viewcookie') }}
{% endblock %}
