{% extends "msw/base.html" %}
{% block head_stuff %}
{% endblock %}

{% block rightPanelText %}
<!-- sorry I know I'm probably doing everything against the principles of jinja/django. But I have to do this quick. -->
    <h2>'Set-Cookie: HttpOnly'  Demo</h2>

    <div id="table-of-contents">
        <span id="table-of-contents-head"></span>
            <a href="#x-frame-over" class="special">Overview</a>
            <a href="#x-frame-choices">Options</a>
            <a href="#x-frame-verify">How to verify</a>
            <a href="#x-frame-code">Code</a>
            <a href="{{ page.reverse_url() }}" class="special">Intro</a>
    </div><!--table-of-contents-->

    <div class="sec-chunk">
        <div id="x-frame-over" class="overview sec-title">
            Overview
        </div>
        <p>You will learn see the difference between <a href="#x-frame-choices">cookies with or without HttpOnly</a>, make sure you have some knowledge of <a href="http://en.wikipedia.org/wiki/HTTP_cookie" target="_blank">cookies</a>.</p>
        <p>The <a href="#x-frame-verify">how to verify</a> section provides details on how to ensure your cookies have the HttpOnly attribute.</p>
        <p>View the <a href="#x-frame-mycode">code</a> section to see the code that's used to set HttpOnly for this demo.</p>
    </div><!-- sec-chunk -->

    <div class="sec-chunk">
        <div id="x-frame-choices" class="sec-title">
            Set-Cookie: HttpOnly Demo
        </div>
        <p>There are two cookies on this page, one with the HttpOnly attribute, one without.</p>
        <table>
            <tr>
                <th>Name</th>
                <th>Value</th>
                <th>HttpOnly?</th>
            </tr>
            <tr>
                <td>cookie1</td>
                <td>foo</td>
                <td>no :(</td>
            </tr>
            <tr>
                <td>cookie2</td>
                <td>bar</td>
                <td>yes :)</td>
            </tr>
        </table>
        <p>The buttons below use JavaScript to display the contents (i.e. values) of the cookies.</p>
        <button type="button" id='cookie1'>See contents of cookie1</button>
        <button type="button" id='cookie2'>See contents of cookie2</button>

        <p>You should observe that you can see the contents ("foo") of cookie1, but cannot see the contents ("bar") of cookie2, which has HTTPOnly enabled and thus JavaScript is unable to access the cookie value.</p>

    </div><!-- sec-chunk -->

    <div class="sec-chunk">
        <div id="x-frame-verify" class="sec-title">
            How to verify
        </div>

        <p>Firefox: <a href="http://getfirebug.com/" target="_blank">Get Firebug</a> and open up your web page (not in an iframe)
        <ol>
            <li>Click on Firebug's "Net" option</li>
            <li>Refresh page</li>
            <li>Click on 'GET [your url]'</li>
            <li>Look under Headers' "Response Headers"</li>
            <li>See what you have for "X-Frame-Options". If you don't see "X-Frame-Options", your web server does not have this header set.</li>
        </ol>
        </p>

        <p>Chrome:
        <ol>
            <li>Right click on page</li>
            <li>Choose "Inspect Elements"</li>
            <li>Follow Firefox's steps</li>
        </ol>
        </p>

        <p>Terminal:
        <ol>
            <li><code>&gt;telnet [insert IP-address of your site] 8000</code></li>
            <li>Press enter</li>
            <li>Put in <code>GET /en-US/msw/ HTTP/1.1</code></li>
            <li>Press enter twice</li>
            <li>Scroll to the very top of the output</li>
            <li>Should see "X-Frame-Options". If you don't see it, your web server does not have this header set.</li>
        </ol>
        </p>
        <!--[TODO: add pictures]-->
    </div><!-- sec-chunk -->

    <div class="sec-chunk">
        <div id="x-frame-code" class="sec-title">
            My code - code for making this demo work
        </div>
        <p>In Django <a href="https://github.com/haoqili/MozSecWorld/blob/master/apps/msw/views.py#L497">views.py (click to go to github)</a>
        <pre>
        def xfo_deny(request):
            html = " ... my html stuff ... "
            response = HttpResponse(html)
            <span class="hlight">response['x-frame-options'] = 'DENY'</span>
            return response
        </pre>
       
        <p>Extra Notes:</p>

        <p><a href="http://playdoh.readthedocs.org/en/latest/index.html" target="_blank">Mozilla's Playdoh</a> automatically sets the "X-Frame-Options" to "deny".</p>

        <p>If you use [CSP]<!--TODO: [link to mozsecworld  CSP]-->, the frame-ancestors policy has a <a href="https://github.com/haoqili/MozSecWorld/blob/master/settings.py#L440">whitelist of all the iframe sites</a>. Note how this demo has <a href="https://github.com/haoqili/MozSecWorld/blob/master/apps/msw/views.py#L491">csp_exempt</a> to bypass CSP so that you can test any websit in "Test Your Site!"</p>
    </div><!-- sec-chunk -->

{% endblock %}

{% block body_end %}
{{ js('httponly_viewcookie') }}
{% endblock %}
