{% extends "msw/base.html" %}
{% block head_stuff %}
{% endblock %}

{% block rightPanelText %}
<!-- sorry I know I'm probably doing everything against the principles of jinja/django. But I have to do this quick. -->
    <h2>X-Frame-Options Demo</h2>

    <div id="table-of-contents">
        <span id="table-of-contents-head"></span>
            <a href="#demo-part-over" class="special">Overview</a>
            <a href="#demo-part-demo">Demo</a>
            <a href="#demo-part-testyour">Test your website!</a>
            <a href="#demo-part-verify">How to verify</a>
            <a href="#demo-part-code">Code</a>
            <a href="{{ page.reverse_url() }}" class="special">Go to Intro</a>
    </div><!--table-of-contents-->

    <div class="sec-chunk">
        <div id="demo-part-over" class="sec-title">
            Overview
        </div>
        <p>You will learn about the 3 <a href="#demo-part-demo">options</a> that X-Frame-Options has, make sure you know <a href="http://www.w3schools.com/tags/tag_iframe.asp" target="_blank">iframes</a>.</p>
        <p>You can <a href="#demo-part-testyour">test your website</a> to see if it can be displayed in an iframe.</p>
        <p>The <a href="#demo-part-verify">how to verify</a> section provides details on how to ensure your site is taking advantage of x-frame-options.</p>
        <p>View the <a href="#demo-part-code">code</a> section to see the code that's used to enable x-frame-options for this demo.</p>
    </div><!-- sec-chunk -->

    <div class="sec-chunk">
        <div id="demo-part-demo" class="sec-title">
            X-Frame-Options Choices Demo
        </div>
        <p>X-Frame-Options has three different settings: <span class="hlight">allow, sameorigin, and deny</span>.</p>
        <p><span class="hlight">X-Frame-Options: ALLOW</span> instructs the browser to allow the web page to be rendered inside an iframe. This is the default behavior when you don't have the x-frame-options header.</p>
        <iframe src="/msw/x_frame_options/demo/xfo_allow">Demo of page with 'X-Frame-Options: ALLOW'</iframe>

        <p><span class="hlight">X-Frame-Options: SAMEORIGIN</span> pages can be rendered inside an iframe if the parent page of the iframe comes from the same domain. For this demo the parent domain is the same as the framed content. Therefore, the content will be rendered within the iframe:</p>
        <iframe src="/msw/x_frame_options/demo/xfo_sameorigin">Demo of page with 'X-Frame-Options: SAMEORIGIN'</iframe>

        <p><span class="hlight">X-Frame-Options: DENY</span> is the safest option and will prevent the content from being framed on any domain. A web page cannot be rendered inside an iframe anywhere.</p>
        <iframe id="deny-frame" src="/msw/x_frame_options/demo/xfo_deny">Demo of page with 'X-Frame-Options: DENY'</iframe>
        <span id="deny-caption"><a href="/msw/x_frame_options/demo/xfo_deny">'X-Frame-Options: DENY' Page</a></span>
    </div><!-- sec-chunk -->

    <div class="sec-chunk">
        <div id="demo-part-testyour" class="sec-title">
            Test your website!
        </div><!-- sec-title -->
        Put your URL here, and see if it shows up in the iframe below. <br />
        Spelling mistakes or failing to have "http://" results in false 
        negatives.
        <input id="inputUrl" type="text"></input>
        <button id="checkButton">Click to check url!</button>
        <iframe id="outputIframe" src="http://en.wikipedia.org/wiki/Main_Page">Your site in this iframe</iframe>
        <p>Try these example sites:</p>
        <p><span class="hlight">Sites with iframe detection:</span>
        The last two examples are not optimal, due to <a href="http://crypto.stanford.edu/framebust/" target="_blank">Frame Busting Techniques</a>.
        <ul>
            <li>
            <i>https://bankofamerica.com</i>: model example of X-Frame-Options: DENY
            </li>
            <li>
            <i>http://facebook.com</i>: detects the iframe, forces you to open in another page
            </li>
            <li>
            <i>http://www.wellsfargo.com</i>: detects the iframe and automatically redirects
            </li>
        </ul>
        </p>
        <p><span class="hlight">Sites without iframe detection:</span>
        <ul>
            <li>
            <i>http://en.wikipedia.org/wiki/Main_Page</i>
            </li>
            <li>
            <i>http://www.google.com</i>
            </li>
            <li>
            <i>http://www.citigroup.com</i>
            </li>
            <li>
            <i>http://visa.com</i>
            </li>
        </ul>
        </p>
    </div><!-- sec-chunk -->

    <div class="sec-chunk">
  
    </div><!-- sec-chunk -->

    <div class="sec-chunk">
        <div id="demo-part-verify" class="sec-title">
            How to verify
        </div>

        <p>Firefox: <a href="http://getfirebug.com/" target="_blank">Get Firebug</a> and open up your web page (not in an iframe)
        <ol>
            <li>Click on Firebug's "Net" option</li>
            <li>Refresh page</li>
            <li>Click on 'GET [your url]'</li>
            <li>Look under Headers' "Response Headers"</li>
            <li>See what you have for "X-Frame-Options". If you don't see "X-Frame-Options", your web server does not have this header set.</li>
        </ol>
        </p>

        <p>Chrome:
        <ol>
            <li>Right click on page</li>
            <li>Choose "Inspect Elements"</li>
            <li>Follow Firefox's steps</li>
        </ol>
        </p>

        <p>Terminal:
        <ol>
            <li><code>&gt;telnet [insert IP-address of your site] 8000</code></li>
            <li>Press enter</li>
            <li>Put in <code>GET /en-US/msw/ HTTP/1.1</code></li>
            <li>Press enter twice</li>
            <li>Scroll to the very top of the output</li>
            <li>Should see "X-Frame-Options". If you don't see it, your web server does not have this header set.</li>
        </ol>
        </p>
        <!--[TODO: add pictures]-->
    </div><!-- sec-chunk -->

    <div class="sec-chunk">
        <div id="demo-part-code" class="sec-title">
            My code - code for making this demo work
        </div>
        <p>In Django <a href="https://github.com/haoqili/MozSecWorld/blob/master/apps/msw/views.py#L497">views.py (click to go to github)</a>
        <pre>
        def xfo_deny(request):
            html = " ... my html stuff ... "
            response = HttpResponse(html)
            <span class="hlight">response['x-frame-options'] = 'DENY'</span>
            return response
        </pre>
       
        <p>Extra Notes:</p>

        <p><a href="http://playdoh.readthedocs.org/en/latest/index.html" target="_blank">Mozilla's Playdoh</a> automatically sets the "X-Frame-Options" to "deny".</p>

        <p>If you use [CSP]<!--TODO: [link to mozsecworld  CSP]-->, the frame-ancestors policy has a <a href="https://github.com/haoqili/MozSecWorld/blob/master/settings.py#L440">whitelist of all the iframe sites</a>. Note how this demo has <a href="https://github.com/haoqili/MozSecWorld/blob/master/apps/msw/views.py#L491">csp_exempt</a> to bypass CSP so that you can test any websit in "Test Your Site!"</p>
    </div><!-- sec-chunk -->

{% endblock %}

{% block body_end %}
{{ js('xframe_checkurl') }}
{% endblock %}
