<!DOCTYPE html>
<head>
    <title>Mozilla Secure World</title>
    {{ css('main_css') }}

    {{ js('common') }}
    {% block head_stuff %}
    {% endblock %}

</head>

<body>


    <div id="titlePart">
    <a href="/msw/">
        <div class="title_background">
        <h1 class="title_words">Mozilla Secure World</h1>
        </div>
    </a>
    <div id="auth_container">
        <div id="auth">
            <a href="/msw/good_auth/demo/login">
                login
            </a>
            &nbsp;|&nbsp;
            <a href="/msw/good_auth/demo/register">
                register
            </a>
            &nbsp;|&nbsp;
            <a href="/msw/good_auth/demo/logout">
                logout
            </a>
            &nbsp;|&nbsp;
            {{ user }}
        </div>
    </div>
    </div><!-- titlePart -->
  
    <div id="mainPart">
    <!-- left panel stuff -->

    <div id="leftPanel">
    {% block leftPanelText %}

    <h2>Selections</h2>
    {% if all_pages_list %}
        <ul>
            {% for page in all_pages_list %}
                <li><a href="/msw/{{ page.slug }}/"> {{ page.title }}</a> </li>
                {# <li><a href="{{ url('detail', page.slug) }}"> {{ page.title }}</a> </li> // note: ask cvan about this #}
            {% endfor %}
        </ul>
    {% else %}
        <p>No pages are available.</p>
    {% endif %}
    
    {% endblock %}
    </div><!-- leftPanel -->

    <div id="rightPanel">
    
    {% block rightPanelText %}
    {% endblock %}

    </div><!-- rightPanel -->

    </div><!--mainPart-->
    {% block body_end %}
    {% endblock %}
</body>
</html>

