<!DOCTYPE html>
<head>
    <title>Mozilla Secure World</title>
    {{ css('main_css') }}

    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
    {% block head_stuff %}
    {% endblock %}

</head>

<body>


    <div id="titlePart">
    <a href="/msw/">
        <div class="title_background">
        <h1 class="title_words">Mozilla Secure World</h1>
        </div>
    </a>
    </div><!-- titlePart -->
  
    <div id="mainPart">
    <!-- left panel stuff -->

    <div id="leftPanel">
    {% block leftPanelText %}

    <h2>Attacks</h2>
    {% if all_pages_list %}
        <ul>
            {% for page in all_pages_list %}
                <li><a href="/msw/{{ page.slug }}/"> {{ page.title }}</a> </li>
                {# <li><a href="{{ url('detail', page.slug) }}"> {{ page.title }}</a> </li> // note: ask cvan about this #}
            {% endfor %}
        </ul>
    {% else %}
        <p>No pages are available.</p>
    {% endif %}
    
    {% endblock %}
    </div><!-- leftPanel -->

    <div id="rightPanel">
    
    {% block rightPanelText %}
    {% endblock %}

    </div><!-- rightPanel -->

    </div><!--mainPart-->
</body>
</html>

