<!DOCTYPE html>
<head>
    <title>Mozilla Secure World</title>
    {{ css('main_css') }}

    <!-- it's faster to load jQuery from external source -->
    <!-- but some $() stuff DOES NOT WORK with the googleapis jquery min -->
    <!--
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js" type="text/javascript"></script>
    -->
    {{ js('common') }}
    {% block head_stuff %}
    {% endblock %}

</head>

<body>


    <div id="titlePart">
    <a href="/msw/">
        <div class="title_background">
        <h1 class="title_words">Mozilla Secure World</h1>
        </div>
    </a>
    <div id="auth_container">
        <div id="auth">
            <a href="/msw/good_auth/demo/login">
                {% if user.username %}
                    Switch user
                {% else %}
                    Please login
                {% endif %}
            </a>
            {% if user.username %}
                <a href="/msw/good_auth/demo/logout">Logout
                    <span class="user-name">{{ user }}</span>
                </a>
            {% else %}
                <a href="/msw/good_auth/demo/register">Register</a>
            {% endif %}
        </div>
    </div>
    </div><!-- titlePart -->
  
    <div id="mainPart">
    <!-- left panel stuff -->

    <div id="leftPanel">
    {% block leftPanelText %}

    <!--
    ###############################
    ######### Navigation ##########
    ###############################
    -->

    <div class="left-title">
    Cross Domain
    </div>
    <ul>
        <li><a href="/msw/x_frame_options">x-frame-options</a></li>
        <li><a href="/msw/set_cookie_httponly">set-cookie: httponly</a></li>
        <li><a href="/msw/csp">content security policy</a></li>
    </ul>

    <div class="left-title">
    Input Validation
    </div>
    <ul>
        <li><a href="/msw/parameterized_sql">sql statements</a></li>
        <li><a href="/msw/rich_text">rich text</a></li>
        <li><a href="/msw/safe_url">safe url</a></li>
        <li><a href="/msw/image_upload">image upload</a></li>
    </ul>

    <div class="left-title">
    Good Authentication
    </div>
    <ul>
        <li><a href="/msw/good_auth">password choice<br /><br />
        password storage<br /><br />
        online password attack prevention</a></li>
    </ul>

    <div class="left-title">
    Access Control
    </div>
    <ul>
        <li><a href="/msw/access_control">access control</a></li>
    </ul>

    {% endblock %}
    </div><!-- leftPanel -->

    <div id="rightPanel">
    
    {% block rightPanelText %}
    {% endblock %}

    </div><!-- rightPanel -->

    </div><!--mainPart-->
    {% block body_end %}
    {% endblock %}
</body>
</html>

