<!DOCTYPE html>
  <head>
  <title>Cookie testing</title>

<script type="text/javascript">
function getCookie(c_name)
{
var i,x,y,ARRcookies=document.cookie.split(";");
for (i=0;i<ARRcookies.length;i++)
  {
  x=ARRcookies[i].substr(0,ARRcookies[i].indexOf("="));
  y=ARRcookies[i].substr(ARRcookies[i].indexOf("=")+1);
  x=x.replace(/^\s+|\s+$/g,"");
  if (x==c_name)
    {
    return unescape(y);
    }
  }
}

function setCookie(c_name,value,exdays)
{
var exdate=new Date();
exdate.setDate(exdate.getDate() + exdays);
var c_value=escape(value) + ((exdays==null) ? "" : "; expires="+exdate.toUTCString());
document.cookie=c_name + "=" + c_value;
}

function checkCookie()
{
var username=getCookie("username");
if (username!=null && username!="")
  {
  alert("Welcome again " + username);
  }
else 
  {
  username=prompt("Please enter your name:","");
  if (username!=null && username!="")
    {
    setCookie("username",username,365);
    }
  }
}
</script>

  </head>
  <body onload="checkCookie()">

  <h1>{{ title_chunk }}</h1>
  
  Warning! There is inline script, will have to move it out!!!

  C is for Cookie, that's good enough for me!

    {% if all_pages_list %}
        <ul>
            {% for page in all_pages_list %}
                <li><a href="/msw/{{ page.slug }}/">page title: {{ page.title }}</a> </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No pages are available.</p>
    {% endif %}


    cookie script copied from <a href="http://www.w3schools.com/JS/js_cookies.asp">W3SChools Cookie Tutorial</a>

    

  </body>
</html>

