{% extends "msw/base.html" %}

{% block rightPanelText %}
    <h2>{{ page.title }}</h2>
  
    <h3>category:</h3>

    <p>
    {{ page.category }}
    </p>

    <h3>short summary:</h3>
    <p>
    {{ page.summary|safe }}
    </p>

    <h3>longer description:</h3>
    <p>
    {{ page.description|safe }}
    </p>

    <h3>Prevents:</h3>
    <p>
    {{ page.prevents|safe }}
    </p>

    <h3>Resources:</h3>
    <p>
    {{ page.resources|safe }}
    </p>

    <h2><a href="/msw/{{ page.slug }}/demo">Demo!</a></h2>
{% endblock %}


