{% extends "msw/base.html" %}

{% block leftPanelText %}
    {{ super() }}
{% endblock %}

{% block rightPanelText %}
    <h2>{{ page.title }}</h2>
  
    <p>
    category: {{ page.category }}
    </p>

    <p>
    short summary: {{ page.summary|safe }}
    </p>

    <p>
    longer description: {{ page.description|safe }}
    </p>

    <p>
    Prevents: {{ page.prevents|safe }}
    </p>

    <p>
    Resources: {{ page.resources|safe }}
    </p>

    <p>
    <a href="/msw/{{ page.slug }}/demo">Demo!</a>
    </p>
{% endblock %}
