{% extends "msw/base.html" %}

{% block rightPanelText %}
    <h2>{{ page.title }}</h2>
  
    <p>
    <h3>category:</h3> {{ page.category }}
    </p>

    <p>
    <h3>short summary:</h3> {{ page.summary|safe }}
    </p>

    <p>
    <h3>longer description:</h3> {{ page.description|safe }}
    </p>

    <p>
    <h3>Prevents:</h3> {{ page.prevents|safe }}
    </p>

    <p>
    <h3>Resources:</h3> {{ page.resources|safe }}
    </p>

    <p>
    <h2><a href="/msw/{{ page.slug }}/demo">Demo!</a></h2>
    </p>
{% endblock %}
