{% extends "msw/base.html" %}

{% block rightPanelText %}


    <section class="sec-chunk">
<!--        <div id="intro-part-category" class="sec-title">    
            Please Note
        </div>
        <section class="textchunk">
            <p>This site is still under development and has speed issues. It will be much better by September 20th, 2011. Thanks for your patience.</p>

            <p>Please send any feedback to [ mozsecworld at gmail dot com ]! Thank you!
        </section>
    </section>--><!-- sec-chunk -->
    <section class="sec-chunk">
        <div id="intro-part-category" class="sec-title">    
            Welcome to MozSecWorld Beta!
        </div>
        <section class="textchunk">
        
            <p>MozSecWorld is a web security reference site.
            It can teach you simple ways that you can make your own websites more secure.
            You'll learn through diagrams, explanations, and best of all, <b>live demos</b>! :)
            If you are a web developer, you might find the code for each demo helpful too.</p>

            <p>More specifically, MozSecWorld is a running Django web application demonstrating major security paradigms used within Mozilla web applications and security capabilities of modern browsers. Our goal is to help make the web more secure for all.</p>

            <p>Currently, this Beta version has a server issue that makes clicks extremely slow. 
            <span class="hlight">Email `mozsecworld at gmail dot com` to receive an update email as soon as the website is more functional.</span>
            Feel free to email us anything else related to this project. We'd love to hear from you!</p>

        </section>
    </section><!-- sec-chunk -->

    <section class="sec-chunk">
        <div id="intro-part-" class="sec-title">
            Overview of the Demos
        </div>
        <section class="textchunk">
            Cross Domain
            <ul>
                <li>
                   <a href="/msw/x_frame_options">x-frame-options: DENY</a>
                </li>
                <li>
                   <a href="/msw/set_cookie_httponly">set-cookie: HTTPOnly</a>
                </li>
                <li>
                   <a href="/msw/csp">Content Security Policy</a>
                </li>
            </ul>

            Input Validation

            <ul>
                <li>
                   <a href="/msw/parameterized_sql">Parameterized SQL statements</a>
                </li>
                <li>
                   <a href="/msw/rich_text">Richtext</a>, so users can use &lt;i&gt;, &lt;b&gt;, but not &lt;script&gt;
                    <ul>
                        <li>
                            [Bleach] only allows whitelisted HTML tags
                        </li>
                    </ul>
                </li>
                <li>
                    Only <a href="/msw/safe_url">safe URLs</a> are clickable
                    <ul>
                        <li>
                            Google SafeBrowsing and a 3-step HTTPS Google Validation
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="/msw/image_upload">Image Upload</a> following the [“Image Upload” guidelines]
                    <ul>
                        <li>
                            Strip away extraneous content with PIL rewrite
                        </li>
                    </ul>
                </li>
            </ul>

            <a href="/msw/good_auth">Good Authentication</a>

            <ul>
                <li>
                    Password safety with bcrypt+HMAC
                </li>
                <li>
                    Black-listed passwords
                </li>
                <li>
                    Brute force prevention with [ratelimit] and ReCapatcha
                    <ul>
                        <li>
                            Shows ReCaptach after multiple failed logins from same IP or different IP for same username
                        </li>
                    </ul>
                </li>
            </ul>


            <a href="/msw/access_control">Access Control</a>

            <ul>
                <li>
                    Access Control: separate Presentation, Business, and Data layers
                </li>
            </ul>

        </section>
    </section><!-- sec-chunk -->

    <section class="sec-chunk">
        <div id="intro-part-category" class="sec-title">    
            Links
        </div>
        <section class="textchunk">
            <p><a href="https://github.com/haoqili/MozSecWorld">The entire source code for MozSecWorld is for you to see and copy on its GitHub Page</a></p>
            <p><a href="https://wiki.mozilla.org/WebAppSec/MozSecureWorld">Wiki page with schedule</a></p>
            <p><a href="https://wiki.mozilla.org/WebAppSec/Secure_Coding_Guidelines#Content_Security_Policy_.28CSP.29">Mozilla Secure Coding Guidelines</a></p>

        </section>
    </section><!-- sec-chunk -->


    <section class="sec-chunk">
        <div id="intro-part-category" class="sec-title">    
            Setup
        </div>
        <section class="textchunk">
        
            <p>Mozilla Secure World runs on Django with <a href="https://github.com/mozilla/playdoh">playdoh</a>. Even though the details of the executions may be different, concepts of the preventions should be the same no matter how your site is built.</p>

        </section>
    </section><!-- sec-chunk -->

    <section class="sec-chunk">
        <div id="intro-part-" class="sec-title">
            FAQ
        </div>
        <section class="textchunk">
            <p>Page Not Found 404: Try logging in</p>
            <p>Clicking doesn't work: Make sure you have something in every input box</p>
        </section>
    </section><!-- sec-chunk -->

    <section class="sec-chunk">
        <div id="intro-part-" class="sec-title">
            Acknowledgements
        </div>
        <section class="textchunk">
            <p>MozSecWorld was created as a summer internship project at the Infrastructure Security Team at Mozilla, supervised by Michael Coates. The student had no prior experience with Django, flooding questions on the <a href="http://blog.mozilla.com/webdev/">Mozilla webdev team</a> and <a href="https://wiki.mozilla.org/Support:Sumodev">SumoDev</a> irc channels at the beginning. Shyam is the awesome sysadmin. Mark gave great suggestions.</p>

            <p>Thank you for coming! Please email us suggestions at `mozsecworld at gmail dot com`.</p>
        </section>
    </section><!-- sec-chunk -->


{#
    <section class="sec-chunk">
        <div id="intro-part-" class="sec-title">

        </div>
        <section class="textchunk">

        </section>
    </section><!-- sec-chunk -->

#}
{% endblock %}

