{% extends "msw/base.html" %}

{% block rightPanelText %}
    <h2>About</h2>
    
        <p>Mozilla Secure World helps web developers to prevent major vulnerabities on the web from the demos.</p>

    <h2>Setup</h2>
    
        <p>Mozilla Secure World runs on Django with <a href="https://github.com/mozilla/playdoh">playdoh</a>. Even though the details of the executions may be different, concepts of the preventions should be the same no matter how your site is built.</p>

    <h2>Links</h2>
        <p><a href="https://github.com/haoqili/MozSecWorld">GitHub Page</a></p>
        <p><a href="https://wiki.mozilla.org/WebAppSec/MozSecureWorld">Wiki page with schedule</a></p>

{% endblock %}

