<!DOCTYPE html>
  <head>
  <title>Rich Text Bleach Testing</title>
  <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
  </head>
  <body>

  <h1>Rich Text with Bleach {{ title_chunk }}</h1>
  
    Rich Text with Bleach

    <form id="myform" action="" method="post">
    {{ csrf() }}
    {{ form.as_p() }}
    <input type="submit" value="Submit" />
    </form>


    <div id="results">
    {% include 'msw/richtext_table.html' %}
</div>
    <!--<script>alert("hi");</script>-->
    <script>
        $("#myform").submit(function(){
            $.post(location.href, $('#myform').serialize(), function(d) {
$('#results').html(d);
                
});
            return false;
                })
    </script>
  </body>
</html>

