<!DOCTYPE html>
  <head>
  <title>Rich Text Bleach Testing</title>
  </head>
  <body>

  <h1>Rich Text with Bleach {{ title_chunk }}</h1>
  
    Rich Text with Bleach

    <form action="" method="post">
    {{ csrf() }}
    {{ form.as_p() }}
    <input type="submit" value="Submit" />
    </form>


    {% if all_richtext_list %}
        {% for richtext in all_richtext_list %}
            <p>Name title: <b>{{ richtext.name }}</b> says: <b>{{ richtext.comment }}</b></p>
        {% endfor %}
    {% else %}
        <p>No iicomments are available.</p>
    {% endif %}
    <!--<script>alert("hi");</script>-->

  </body>
</html>

