{% extends "msw/base.html" %}
{#{% load url from future %}#}

{% block head_stuff %}
{# {% if request.user.is_anonymous() %}
  <script type="text/javascript" src="{{ settings.RECAPTCHA_URL }}"></script>
{% endif %}
#}
{#  |  crucial line to avoid in-line script #}
{# \|/ put line on top (here) to allow custom recaptcha (or else it's the generic red box) #}
{# {{ js('moz_recaptcha') }}  {# crucial line to avoid in-line script #}
{% endblock %}

{% block rightPanelText %}  
{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}
  <h1>Log in</h1>
  {% if error %}
    <p><strong>Invalid credentials</strong></p>
  {% endif %}

  {% if user.is_authenticated() %}
    <p>Welcome, <b>{{ user }}</b>. You're actually already logged in. </p>
  {% else %}
    <p>Welcome, <b>{{ user }}</b>. Please log in.</p>
  {% endif %}

  <form action="" method="post">
    {{ csrf() }}
    <input type="hidden" name="next" value={{ jumpto_url }} />
    {{ form.as_p() }}
    {{ recaptcha(form) }}
    <p><input type="submit" value="Let's do this"></p>
  </form>

{% endblock %}
{% block body_end %}
{{ js('google_recState') }}
{{ js('google_recaptcha') }}
{% endblock %}
