{% extends "msw/base.html" %}
{#{% load url from future %}#}

{% block rightPanelText %}  
{#
{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}
#}
  <h1>Log in</h1>
  {% if error %}
    <p><strong>Invalid credentials</strong></p>
  {% endif %}

  {% if user.is_authenticated() %}
    <p>Welcome, <b>{{ user }}</b>. You're actually already logged in. </p>
  {% else %}
    <p>Welcome, <b>{{ user }}</b>. Please log in.</p>
  {% endif %}

  <form action="" method="post">
    {{ csrf() }}
    <input type="hidden" name="next" value={{ jumpto_url }} />
    {{ form.as_p() }}
    <p><input type="submit" value="Let's do this"></p>
  </form>

{% endblock %}

{% block body_end %}
{% include("msw/recaptcha_js.html") %}
{% endblock %}
