{% extends "msw/base.html" %}

{% block rightPanelText %}  

    <h1>Members Posting Page!</h1>

    <p>{{ message }}</p>

    <h2>Directions:</h2>
    <ol>
        <li>Login as specified regular or super user (see "Users")</li>
        <li>Observe that regular users can only select to post under their usernames while super users can post under anybody's user name</li>
        <li>Turn on tampering with BURP or Mozilla Tamper Data Addon</li>
        <li>Observe that the demo can detect tampering</li>
    </ol>

    <h2>Users</h2>
    <table>
        <tr>
            <th>User Name</th>
            <th>Password</th>
        </tr>

        <tr>
            <td>regular_alice</td>
            <td>vuX9JZ8U</td>
        </tr>

        <tr>
            <td>regular_bob</td>
            <td>WE1H72wo</td>
        </tr>

        <tr>
            <td>super_foo</td>
            <td>hdpV5203</td>
        </tr>

        <tr>
            <td>super_bar</td>
            <td>BAs89dkw</td>
        </tr>

    </table>
    

    <p>
    {% if perms.msw.superuser_display %}
        You are super! :D (This line is an example of presentation layer)
    {% else %}
        YOU are NOT super! :( (This line is an example of presentation layer)
    {% endif %}
    </p>

    <h2>Select a user</h2>
    {% if users_list %}
        <select id="theName">
            {% for oneUser in users_list %}
                <option  value="{{ oneUser.id }}">{{ oneUser.user }}</option>
            {% endfor %}
        </select>
    {% else %}
        <p>No users yet.</p>
    {% endif %}

    <p />
    <h2>Select what to say</h2>
    {% if all_texts_list %}
        <select id="theText" >
            {% for oneText in all_texts_list %}
                <option value="{{ oneText.id }}">{{ oneText.text }}</option>
            {% endfor %}
        </select>
    {% else %}
        <p>No texts yet.</p>
    {% endif %}
    <p>
    {{ csrf() }} 
    <button id="memPostButton">Click me to post</button>
    </p>

    <div id="output">
        {% include 'msw/demos/children/ac_ajax_table.html' %}
    </div>

{% endblock %}

{% block body_end %}
{{ js('ac_ajax') }}
{% endblock %}
